

body {
  margin: 0;
  font-family:  'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #071E3D;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin-left: 0px;
  padding: 0;
  height: calc(100vh - 120px);
  width: calc(100% - 100px);

}
*{
  margin: 0;
  padding: 0;
}
