
html{
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #071E3D;
  box-sizing: border-box;
}


#root{
  margin-left: 0px;
  padding: 0;
  height: calc(100vh - 120px);
  width: calc(100% - 100px);

}
*{
  margin: 0;
  padding: 0;
}
